.sectionCard{
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 12.5%;
    width: 75%;
}

.card{
    width: 25%;
    height: 14rem;
    margin-bottom: 4rem;
}

.producto{
    font-size: 0.7rem;
    text-align: center;
    height: 2rem;
}

.precio{
    margin-top: 0.1rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.imagenCard{
    margin-left: 15%;
    width: 11rem;
    height: 13rem;
}