.cart{
    display: flex;
    width: 80%;
    margin-left: 10%;
    height: 90vh;
}

.derechaDetail{	
    margin-top: 2rem;
    margin-left: 3rem;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.tituloDetail{
    font-weight: bold;
    font-size: 1.6rem;
    margin-left: 14rem;
    margin-top: 2rem;
}

.precioDetail{
    margin-left: 14rem;
    font-weight: bold;
    margin-top: 2rem;
}

.counterDetail{
    margin-top: -2rem;
}


                                                //PAGINA CART

.carritoVacio{
    font-size: 1.6rem;
    margin-left: 31%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.vaciarCarrito{
    background-color: gray;
    border: 1px solid lightgray;
    width: 12rem;
    margin-left: 75%;
    padding: 0.3rem;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
}

.vaciarCarrito:hover{
    background-color: lightgray;
    color: white;
}

.contenedorCarrito{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5rem;
}

.flexCarrito{
    display: flex;
    margin: 0% 10%;
    justify-content: space-around;
}

.derechaCarrito{
    margin-top: 4rem;
    margin-left: 2rem;
}

.tituloCarrito{
    font-size: 1.4rem;
    font-weight: bold;
}

.cantidadCarrito{
    margin-top: 2rem;
    font-size: 1.3rem;

}

.totalCarrito{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.mensajeCarrito{
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
    border-bottom: solid 1px lightgray;
    padding: 1rem;
}

.botonEliminarCarrito{
    margin-top: 2rem;
    background-color: gray;
    border: none;
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    font-family:'Montserrat', sans-serif;
    cursor: pointer;
    color: white;
}

.botonEliminarCarrito:hover{
    background-color: lightgray;
    color: white;
}

                                                //CONTADOR//

.divContador{
    height: 13rem;
    margin-left:35%;
    margin-top: 4rem;
    border-radius: 25px;
}

.tituloContador{
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.flexContador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px lightgray;
    border-radius: 10px;
    width: 80%;
    margin-left: 2.3rem;
}

.botonContador{ 
    background-color: white;
    color: lightblue;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.cantContador{
    margin-top: 0.8rem;
    color: black;
    font-size: 1.5rem;
}

.agregarCarrito{
    margin: 2rem 2.2rem;
    background-color: lightgray;
    border: none;
    font-weight: bold;
    width: 80%;
    height: 3rem;
    border-radius: 10px;
    font-family:'Montserrat', sans-serif;
    cursor: pointer;
}

.agregarCarrito:hover{
    background-color: gray;
}

.linkCarrito{
    margin-left: 2.2rem;
    background-color: lightgray;
    border: none;
    font-weight: bold;
    width: 80%;
    height: 3rem;
    border-radius: 10px;
    font-family:'Montserrat', sans-serif;
    cursor: pointer;
}

.linkCarrito:hover{
    background-color: gray;
}