footer {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #EEEEEE;
    height: 20vh;
}

.tituloFooter{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.liFooter{
    margin-top: 0.8rem;
}