@import "../utilities/mediaquerys";

footer {
    height: 24vh;
}

.footerGris{
    background-color: #EEEEEE;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    @include telefono{
        flex-direction: column;
    }
}

.tituloFooter{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    @include telefono{
        text-align: center;
    } 
}

.liFooter{
    margin-top: 0.8rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.textoLiFooter{
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 0.85rem;
}

.pNavegacion{
    margin-left: 0.4rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: black;
}

.pNavegacion:hover{
    color: gray;
}

.ulContacto{
    margin-left: -1.5rem;
}

.ulRedes{
    display: flex;
    justify-content: space-around;
    margin-left: -2.2rem;
}

.divDerechos{
    height: 2rem;
}

.derechos{
    font-weight: bold;
    margin-top: 1rem;
    color: black;
    margin-left: 38%;
    @include telefono{
        margin-left: 1rem;
    }
}

