.divGracias{
    width: 30rem;
    height: 28rem;
    margin-left: 33%;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px #999;
    @include telefono{
        margin-left: 0rem;
        width: 100%;
        height: 30rem;
    }
}

.divUnoGracias{
    background-color: rgb(37,106,224);
}

.tituloGracias{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2.5rem;
    text-align: center;
}

.subtituloGracias{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1.5rem;
}

.volverGracias{
    border: none;
    width: 15rem;
    height: 4rem;
    color: white;
    margin-left: 7.5rem;
    background-color: rgb(37,106,224);
    border-radius: 15px;
    margin-top: 1.2rem;
    @include telefono{
        margin-left: 5rem;
    }
}

.volverGracias:hover{
    background-color: #4169e1;
}   
