.logoWhaikau{
    width: 16rem;
    height: 5.5rem;
    margin-top: 2rem;
}

.banner{
    margin: 1rem 10%;
    width: 80%;
    height: 38rem;
    border: none;
}

.icono{
    width: 16px;
    height: 16px;
    border-radius:5px;
}

.iconoContacto{
    width: 24px;
    height: 24px;
}

.imagenContacto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    width: 80%;
}

.bannerProductos{
    margin-top: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.imagenCart{
    margin-top: 4rem;
    height: 25rem;
    margin-left: 25%;    
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.imagenCart:hover {
    -webkit-transform: scale(1.3); 
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}