.logoWhaikau{
    width: 16rem;
    height: 5.5rem;
    margin-top: 2rem;
}

.banner{
    margin: 1rem 10%;
    width: 80%;
    height: 38rem;
    border: none;
}

.icono{
    width: 16px;
    height: 16px;
    border-radius:5px;
}

.iconoContacto{
    width: 24px;
    height: 24px;
}

.imagenContacto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    width: 80%;
}

.bannerProductos{
    margin-top: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}