body{
    font-family:'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

main {
    height: 100%;
    width: 100%;
}

.divIdeals{
    display: flex;
    justify-content: center;
}

.tituloIdeals{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 6rem 0rem;
}

.iconoOla{
    height: 32px;
    width: 32px;
    margin-top: 5.6rem;
    margin-left: 1rem;
}

.seguinosIg{
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.divSeguinosTexto{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

.seguinosTexto{
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.seguinosArroba{
    font-weight: bold;
    color: black;
    margin-top: 0.3rem;
    font-size: 1.4rem;
}

                                                //CONTADOR//

.divContador{
    border: solid 1px black;
    width: 28%;
    height: 13rem;
    margin-left:35%;
    margin-top: 4rem;
    border-radius: 25px;
}

.tituloContador{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.flexContador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px lightblue;
    border-radius: 10px;
    width: 80%;
    margin-left: 2.3rem;
}

.botonContador{ 
    background-color: white;
    color: lightblue;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.cantContador{
    margin-top: 0.5rem
}

.agregarCarrito{
    margin: 2rem 5.7rem;
    background-color: lightblue;
    border: none;
    font-weight: bold;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    font-family:'Montserrat', sans-serif;
    cursor: pointer;
}

.agregarCarrito:hover{
    background-color: rgb(72, 192, 182);
}